{% extends 'base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
  <h1>Object Detail</h1>
  <article>
    <h2>Name: {{ object.name }}</h2>
    <p>Description: {{ object.description }}</p>
    <p>Tags: {% for tag in object.tags.all %}<a href="{% url 'something:tag' tag.id %}">{{ tag.name }}</a>{% endfor %}</p>
    {% if request.user == object.user %}
      <a href="{% url 'something:update' object.id %}">編集</a>
      <p>
        <form method="POST" action="{% url 'something:delete' object.id %}">
          {% csrf_token %}
          <button type="submit">Delete</button>
        </form>
      </p>
    {% endif %}
  </article>
{% endblock %}
